[build-system]
requires = ["robotpy-build"]

[tool.robotpy-build]
base_package = "rpytest"

[tool.robotpy-build.wrappers."rpytest.dl".maven_lib_download]
artifact_id = "dl"
group_id = "fake.dl"
repo_url = "http://127.0.0.1:RANDOM_PORT"
version = "1.2.3"
use_sources = true
sources = [
    "downloaded.cpp"
]

[tool.robotpy-build.wrappers."rpytest.dl"]
name = "rpytest_dl"

sources = [
    "rpytest/dl/dl.cpp"
]

generation_data = "gen/dl"
generate = [
    { downloaded = "downloaded.h" }
]

[tool.robotpy-build.wrappers."rpytest.ft"]
name = "rpytest_ft"

sources = [
    "rpytest/ft/src/ft.cpp"
]

generation_data = "gen/ft"
generate = [
    { abstract = "abstract.h" },
    { docstrings = "docstrings.h" },
    { enums = "enums.h" },
    { keepalive = "keepalive.h" },
    { ignore = "ignore.h" },
    { overloads = "overloads.h" },
    { rename = "rename.h" },
    { subpkg = "subpkg.h" },
    { static_only = "static_only.h" },
    { type_caster = "type_caster.h" },
    { type_caster_nested = "type_caster_nested.h" },
    { virtual_comma = "virtual_comma.h" },
    { virtual_xform = "virtual_xform.h" },

    # Inheritance
    { IBase = "inheritance/ibase.h" },
    { IChild = "inheritance/ichild.h" },
    { IGChild = "inheritance/igchild.h" },

    # Protection
    { PBase = "protection/pbase.h" },
    { PChild = "protection/pchild.h" },
    { PGChild = "protection/pgchild.h" },

    # Templates
    {tbase = "templates/tbase.h"},
    {tcrtp = "templates/tcrtp.h"},
    {tcrtpfwd = "templates/tcrtpfwd.h"},
    {tconcrete = "templates/tconcrete.h"},

    {tbasic = "templates/basic.h"},
    {tdependent_using = "templates/dependent_using.h"},
    {tfn = "templates/fn.h" },
    {tnumeric = "templates/numeric.h"},
    {tnested = "templates/nested.h"},
]

[tool.robotpy-build.wrappers."rpytest.srconly"]
name = "rpytest_srconly"
sources = [
    "rpytest/srconly/srconly.cpp"
]

[tool.robotpy-build.metadata]
name = "robotpy-build-test"
description = "robotpy-build test program"
author = "RobotPy Development Team"
author_email = "robotpy@googlegroups.com"
url = "https://github.com/robotpy/robotpy-build"
license = "BSD-3-Clause"
install_requires = []