{%- macro fndef(fn) %}
{% if fn.static %}def_static{% else %}def{% endif %}
{% endmacro -%}

{%- macro fnptr(cls, fn) -%}
{% if fn.data.cpp_code %}
{{ fn.data.cpp_code }}
{% elif not fn.x_out_params %}
&{% if cls %}{{ fn.namespace }}{{ cls.name }}::{% endif %}{{ fn.name }}
{% else %}
[]({{ fn.x_in_params | join(', ', attribute='x_decl') }}) {
          {{ fn.x_temprefs }}
          {{ fn.x_callstart }} {{ fn.name }}({{ fn.parameters | join(', ', attribute='x_callname') }} {{ fn.x_callend }});
          {{ fn.x_wrap_return }}
        }
{%- endif %}
{%- endmacro -%}

{%- macro genmethod(cls, fn) %}
  {% if fn.constructor %}
    .def(py::init<{{ fn.parameters | join(', ', attribute='x_type_full') }}>(){% if fn.x_in_params %}, {{ fn.x_in_params | join(', ', attribute='x_pyarg') }}{% endif %}, release_gil())
  {% else %}
    .{{ fndef(fn) }}("{{ fn.x_name }}",{{ ' ' }}
      {%- if fn.data.overloads -%}
        py::overload_cast<{{ fn.x_in_params | join(', ', attribute='x_type_full')}}>(
      {%- endif -%}
	     {{ fnptr(cls, fn) }}
      {%- if fn.data.overloads -%}
        {% if fn.const %}, py::const_{% endif -%}
        )
      {%- endif -%}
		 {% if fn.x_in_params %}, {{ fn.x_in_params | join(', ', attribute='x_pyarg') }}{% endif %}
     {%- if not fn.data.no_release_gil -%}
      , release_gil()
     {%- endif -%}
     {%- if fn.x_doc %},
       {% for dq in fn.x_doc_quoted %}
          {{ dq }}{% if loop.nextitem is defined %}{{ '\n' }}{% endif %}
       {%- endfor -%}
     {%- endif -%})
  {% endif %}
{% endmacro -%}

{%- macro unnamed_enum(x, enums) %}
{% for enum in enums %}
{% if 'name' not in enum %}
{% for val in enum['values'] %}
{{ x }}.attr("{{ val.name }}") = (int){{ enum.x_namespace }}{{ val.name }};
{% endfor %}
{% endif %}
{% endfor %}
{% endmacro -%}

// This file is autogenerated. DO NOT EDIT

#include <pybind11/pybind11.h>
#include <pybind11/stl.h>

{% for header in headers %}
#include <{{ header.rel_fname }}>
{% endfor %}

namespace py = pybind11;

{% for header in headers %}
{% for using in header.using.values() %}
using {{ using.raw_type }};
{% endfor %}
{% endfor %}

// Use this to release the gil
typedef py::call_guard<py::gil_scoped_release> release_gil;

{% for inc in data.extra_includes %}
#include "{{ inc }}"
{% endfor %}

void init_{{ mod_fn }}(py::module &m) {
{% for header in headers %}
{% for cls in header.classes if not cls.data.ignore %}
  py::class_<{{ cls.namespace }}::{{ cls.name }}{% if cls.data.cpp_inherits %}, {{ cls.data.cpp_inherits }}{% endif %}> {{ cls.name.lower() }}(m, "{{ cls.name }}");
  {{ cls.name.lower() }}
  {% for fn in cls.methods.public if not fn.data.ignore and 'forward_declare' not in fn %}
  {{ genmethod(cls, fn) }}
  {%- endfor %}
  ;
  {{ unnamed_enum(cls.name.lower(), cls.enums.public) }}
{% endfor %}
{% endfor %}
{% for header in headers %}
{% for cls in header.classes if 'has_fwd_declare' in cls %}
  {{ cls.name.lower() }}
  {% for fn in cls.methods.public if 'forward_declare' in fn %}
  {{ genmethod(cls, fn) }}
  {%- endfor %}
  ;
  {{ unnamed_enum(cls.name.lower(), cls.enums.public) }}
{% endfor %}


{% if header.functions %}
{% for fn in header.functions if not fn.data.ignore %}
  {% if loop.first %}m{% endif %}
  {{ genmethod(None, fn) }}
{%- endfor %};
{% endif %}
{% endfor %}

  {% include "gen_enum_pybind11.cpp.j2" %}
}
