{%- macro genenum(enum) %}
{%- if 'name' in enum -%}
py::enum_<{{ enum.x_namespace }}{{ enum.name }}>(m, "{{ enum.x_name }}")
  {% for val in enum['values'] %}
    .value("{{ val.x_name }}", {{ enum.x_namespace }}{{ enum.name }}::{{ val.name }})
  {% endfor -%}
  ;
{%- endif -%}
{% endmacro -%}

{% for header in headers %}
{% for enum in header.enums %}
  {{ genenum(enum) }}
{% endfor %}
{% for cls in header.classes %}
{% for enum in cls.enums.public %}
  {{ genenum(enum) }}
{% endfor %}
{% endfor %}
{% endfor %}
